.form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 20px;
}

.form__input {
  margin-bottom: 10px;
}

.form__sumbit {
  cursor: pointer;
}

.form__error {
  margin-bottom: 10px;
  border: 1px solid red;
  color: red;
}